* {
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(40, 40, 40);
    margin: 0;
}

/* .encabezado{
    background-color: rgb(220, 220, 220);
    width: 75%;
} */

.menu {
    background-color: rgb(230, 230, 230);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 0;
    height: 60px;
    display: inline-block;
}
.menu-barra {
    display: none;
    float: right;
    margin-right: 40px;
    line-height: 60px;
}

.menu-input {
    display: none;
}

.menu-op {
    /* min-width: 10%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto 0 10px;
}

ul {
    list-style: none;
}

.menu-op > li {
    position: relative;
    display: inline-block;
}

/* .menu-op > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
} */

.menu-op__titulo a {
    color: orangered;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}

.menu-op__titulo a:hover {
    font-size: 23px;
    text-shadow: 0 0 8px rgb(255 68 0 / 30%);
}

.menu-op > li {
    position: relative;
    display: inline-block;
}

.menu-op > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.menu-op__item a {
    color: black;
    transition: 0.5s;
}

.menu-op li ul {
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 120%;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    list-style: none;
}
.menu-op li:hover ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    background-color: rgb(220, 220, 220);
}

.menu-op li ul {
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 120%;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    list-style: none;
}

ul {
    list-style: none;
}

.menu-op li ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu-op li ul a:hover {
    background-color: rgb(200, 200, 210);
}

.menu-op__item a:hover {
    font-size: 18px;
    font-weight: 600;
}
.menu-op li ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.menu-op__item a {
    color: black;
    transition: 0.5s;
}
.menu-op__item a {
    color: black;
    transition: 0.5s;
}

.menu-op > li {
    position: relative;
    display: inline-block;
}

.menu-op__sesion {
    float: right;
}

.menu-op > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.menu-op__sesion a img {
    width: 35px;
}





/* .menu-ol{
    display: inline-block;
}

.menu-ol li{
    list-style: none;
}

.menu-ol li a{
    font-size: 20px;
    color: orangered;
    font-weight: 700;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu-ul{
    padding: 10px 20px;
    display: inline-block;
}

.menu-ul li{
    list-style: none;
    width: 10%;
    min-width: 100px;
    display: inline-block;
}

.menu-ul li a{
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} */

/* Fondo */

/* Consulta proveedores */

.main-proveedores {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
}

.form-proveedores {
    margin: 20px 5%;
    width: 80%;
    border: 2px solid black;
    padding: 10px 5%;
    /* overflow-y: scroll; */
    display: grid;
    height: calc(100vh - 160px);
}

.header-proveedores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
}

.header-proveedores__titulo {
    /* margin: 10px 0; */
    text-align: center;
}

.header-proveedores__titulo h1 {
    font-family: Arial;
    color: rgb(70, 70, 70);
}

.header-proveedores__buscador {
    margin: 10px 20px;
    text-align: center;
}

.header-proveedores__buscador input {
    margin: 1px 0 0;
    width: 80%;
    height: 39px;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.4s;
    border: 2px solid black;
}

.header-proveedores__buscador input:hover {
    box-shadow: 0 0 3px black;
    width: 82%;
}

.contenido-scroll {
    margin: 20px 0;
    overflow-y: scroll;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: 2px solid rgba(200, 200, 200, 0.5);
    border-bottom: 2px solid rgba(200, 200, 200, 0.5);
    padding: 0 5px;
}

.contenido-scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.contenido-scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.contenido-scroll::-webkit-scrollbar-thumb:hover{
    border: 0 0 10px orangered;
}

.contenido-proveedores {
    margin: 10px 0;
    /* position: absolute; */
    /* top: 60px; */
    /* overflow-y: scroll; */
}

.contenido-proveedores__lista {
    margin: 2px;
    border: 2px solid black;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    height: 60px;
    transition: 0.3s;
}

.contenido-proveedores__lista:hover{
    margin: 10px 5px;
    /* width: ; */
}

.c-p__lista-foto img {
    margin: auto;
    width: 50%;
}

.c-p__lista-datos label {
    margin: 1px;
    display: block;
    font-family: Arial;
    font-size: 14px;
}

.c-p__lista-op {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.c-p__lista-op a img {
    position: relative;
    width: 70%;
    bottom: -32px;
    left: 10px;
}

.fondo-proveedores {
    background-color: orangered;
    background-image: url(../img/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Pedidos */

.main-pedidos{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
}

.form-pedidos{
    margin: 20px 5%;
    width: 90%;
    /* border: 3px solid black; */
    /* padding: 10px 5%; */
    /* overflow-y: scroll; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 160px);
}

.header-pedidos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 50%;
}

.header-pedidos__titulo{
    margin: 10px 20%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.header-pedidos__titulo h1{
    font-family: Arial;
    color: rgb(200, 200, 200);
}


.header-pedidos__buscador {
    margin: 10px 20px;
    text-align: center;
}

.header-pedidos__buscador input {
    margin: 1px 0 0;
    width: 80%;
    height: 39px;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.4s;
    border: 2px solid black;
}

.header-pedidos__buscador input:hover {
    box-shadow: 0 0 3px black;
    width: 82%;
}

.header-pedidos__btn{
    /* display: relative; */
    /* align-items: center;
    justify-content: center; */
    float: right;
    /* right: 0; */
}

.header-pedidos__btn input{
    width: 40%;
    padding: 10px 0;
    float: right;
    margin: 0 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.header-pedidos__btn input:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.contenido-pedidos{
    display: grid;
    grid-template-rows: 3fr 1fr 12fr 4fr;
    border: 3px solid black;
    height: calc(100vh - 166px);
}

.contenido-pedidos__header{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.c-p__header-foto img{
    width: 60px;
}

.c-p__header-datos label{
    display: block;
}

.c-p__articulos-header{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
    border: 3px solid black;
    margin-right: -3px;
    margin-left: -3px;
    padding: 3px;
}

.c-p__articulos-header label{
    font-family: Arial;
    font-weight: 600;
    color: rgb(150, 150, 150);
}

/* .c-p__articulos-header div{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.contenido-pedidos__scroll{
    overflow-y: scroll;
    /* margin-top: -1px; */

}

.contenido-pedidos__scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.contenido-pedidos__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.contenido-pedidos__scroll::-webkit-scrollbar-thumb:hover{
    border: 0 0 10px orangered;
}

.c-p__articulos-datos{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* margin: 0 3px; */
    margin-bottom: 4px;
    padding: 3px;
    transition: 0.3s;
}

.c-p__articulos-datos:hover{
    margin-top: 8px;
    margin-bottom: 8px;
}

.c-p__articulos-datos div{
    padding: 0 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.c-p__articulos-datos div label{
    color: rgb(150, 150, 150);
    font-family: Arial;
}

.c-p__articulos-datos a img{
    width: 25px;
}

.contenido-pedidos__footer{
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-top: 3px solid black;
}

.c-p__footer-total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
}

.c-p__footer-total label{
    display: flex;
    align-items: center;
    /* justify-content: center;  */
    color: rgb(150, 150, 150);
    font-family: Arial;
    font-weight: 600;
}

.c-p__footer-generar{
    border-top: 3px solid black;
    padding: 10px 0;
}

.c-p__footer-generar button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.c-p__footer-generar button:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.c-p__footer-generar button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* .header-pedidos__btn input{
    width: 40%;
    padding: 10px 0;
    float: right;
    margin: 0 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

 */





/* .header-pedidos__btn:hover{

} */

.fondo-pedidos {
    background-color: orangered;
    background-image: url(../img/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.alert{
    padding: 10px;
    width: 80%;
    margin: 0 8% 25px;
    background-color: rgba(255, 0, 0, 0.5);
    border: 3px solid red;
    border-radius: 5px;
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

/* Registro articulos
.form-articulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 2%;
    background: url('/img/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-proveedores{
    background-color: white;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: url('/img/Fondo6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}
.titulo-pro{
    text-align: center;
    margin-bottom: 1%;
}
.comics{
    margin-top: 0.5%;
}
img{
    border: 10px;
    width: 30%;
}
.imgComics{
    width: 27%;
}
.cont-form{
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}
/* .color-form{
    background-color: rgba(255, 68, 0, 0.05);
} */
.form-borde{
    border: 5px solid rgb(0, 0, 0);
}
.form-borde:hover{
    box-shadow: 0 0 10px orangered;
}
.cont-boton-arti{
    display: flex;
    justify-content: end;
}
input:hover{
    box-shadow: 0 0 10px orangered;
}
.btn-comic{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton-arti{
    height: 45px;
    width: 190px;
}
.inputs-articulos{
    width: 500px;
}
.p{
    text-align: left;
}

/* Vista tienda */

.cont-tienda{
    padding: 2%;
    padding-right: 0%;
    background: url('/img/Fondo5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.img-card{
    height: 450px;
}
.card{
    width: 90%;
}
#card-color{
    color: white;
    background-color: rgb(56, 56, 56);
}
.tienda-selec{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.icon-a{
    margin-left: 35%;
}

.img-tienda{
    width: 70px;
}
.icono{
    display: flex;
    justify-content: end;
    padding-right: 4%;
    position: relative;
}
/* vista carrito */
.cont-carrito{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-top: 1%;
    background: url('/img/Fondo6.jpeg');
}
.form-carrito{
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: rgb(72, 72, 72);
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    color: white;
}
.cont-info{
    width: 100%;
    margin-bottom: 2%;
}
.rectangulo{
    width: 100%;
    height: 350px;
    margin-bottom: 2%;
    background-color: white;
}
.rectangulo:hover{
    box-shadow: 0 0 10px orangered;
}
.h1{
    margin: auto;
    color: rgb(221, 122, 8);
}
.cont-labels{
    display: flex;
    justify-content: space-between;
    font-size: 300%;
    margin-bottom: 2%;
}
.btn-carrito{
    height: 80%;
    width: 200px;
}
/* Menu */

.cont-menu{
    background: url('/img/Fondo5.jpeg');
    text-align: center;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}
.cont-img-menu{
    margin-top: 2%;
    margin-bottom: 2%;
}
.titulo-menu{
    font-size: 80px;
    color: orangered;
}
.text{
    color:rgb(255, 255, 255);
}
.cont-text-menu{
    margin-bottom: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.354);
} */