/* Registro articulos */
.form-articulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 2%;
    background: url('/img/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-proveedores{
    background-color: white;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: url('/img/Fondo6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}
.titulo-pro{
    text-align: center;
    margin-bottom: 1%;
}
.comics{
    margin-top: 0.5%;
}
img{
    border: 10px;
    width: 30%;
}
.imgComics{
    width: 27%;
}
.cont-form{
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}
/* .color-form{
    background-color: rgba(255, 68, 0, 0.05);
} */
.form-borde{
    border: 5px solid rgb(0, 0, 0);
}
.form-borde:hover{
    box-shadow: 0 0 10px orangered;
}
.cont-boton-arti{
    display: flex;
    justify-content: end;
}
input:hover{
    box-shadow: 0 0 10px orangered;
}
.btn-comic{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton-arti{
    height: 45px;
    width: 190px;
}
.inputs-articulos{
    width: 500px;
}
.p{
    text-align: left;
}

/* Vista tienda */

.cont-tienda{
    padding: 2%;
    padding-right: 0%;
    background: url('/img/Fondo5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.img-card{
    height: 450px;
}
.card{
    width: 90%;
}
#card-color{
    color: white;
    background-color: rgb(56, 56, 56);
}
.tienda-selec{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.icon-a{
    margin-left: 35%;
}

.img-tienda{
    width: 70px;
}
.icono{
    display: flex;
    justify-content: end;
    padding-right: 4%;
    position: relative;
}
/* vista carrito */
.cont-carrito{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-top: 1%;
    background: url('/img/Fondo6.jpeg');
}
.form-carrito{
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: rgb(72, 72, 72);
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    color: white;
}
.cont-info{
    width: 100%;
    margin-bottom: 2%;
}
.rectangulo{
    width: 100%;
    height: 350px;
    margin-bottom: 2%;
    background-color: white;
}
.rectangulo:hover{
    box-shadow: 0 0 10px orangered;
}
.h1{
    margin: auto;
    color: rgb(221, 122, 8);
}
.cont-labels{
    display: flex;
    justify-content: space-between;
    font-size: 300%;
    margin-bottom: 2%;
}
.btn-carrito{
    height: 80%;
    width: 200px;
}
/* Menu */

.cont-menu{
    background: url('/img/Fondo5.jpeg');
    text-align: center;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}
.cont-img-menu{
    margin-top: 2%;
    margin-bottom: 2%;
}
.titulo-menu{
    font-size: 80px;
    color: orangered;
}
.text{
    color:rgb(255, 255, 255);
}
.cont-text-menu{
    margin-bottom: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.354);
}