* {
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    margin: 0;
}

.encabezado{
    /* border-bottom: 2px solid black; */
    box-shadow: 0 0 7px black;
}

.menu {
    background-color: rgb(230, 230, 230);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px 0;
    height: 60px;
    display: inline-block;
}
.menu-barra {
    display: none;
    float: right;
    margin-right: 40px;
    line-height: 60px;
}

.menu-input {
    display: none;
}

.menu-op {
    /* min-width: 10%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto 0 10px;
}

ul {
    list-style: none;
}

/* .menu-op > li {
    position: relative;
    display: inline-block;
} */

/* .menu-op > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
} */

.menu-op__titulo a {
    color: orangered;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}

.menu-op__titulo a:hover {
    font-size: 23px;
    text-shadow: 0 0 8px rgb(255 68 0 / 30%);
}

.menu-op > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.menu-op__item a {
    color: black;
    transition: 0.5s;
}

.menu-op li ul {
    position: absolute;
    background-color: rgb(200, 200, 200);
    width: 120%;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    list-style: none;
    z-index: 1;
}

.menu-op li:hover ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    background-color: rgb(220, 220, 220);
}

ul {
    list-style: none;
}

.menu-op li ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu-op li ul a:hover {
    background-color: orangered;
    color: white;
}

.menu-op__item a:hover {
    font-size: 18px;
    font-weight: 600;
}
.menu-op li ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.menu-op__item a {
    color: black;
    transition: 0.5s;
}
.menu-op__item a {
    color: black;
    transition: 0.5s;
}

.menu-op > li {
    position: relative;
    display: inline-block;
}

.menu-op__sesion {
    float: right;
    position: relative;
}

.menu-op__sesion > label{
    position: absolute;
    top: 20px;
    right: 100px;
}

.menu-op__sesion > a{
    position: absolute;
    right: 0;
}

/* .menu-op > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
} */

.menu-op__sesion a img {
    width: 35px;
}

.sesion_usuario{
    right: 100px;
}

/* .menu-ol{
    display: inline-block;
}

.menu-ol li{
    list-style: none;
}

.menu-ol li a{
    font-size: 20px;
    color: orangered;
    font-weight: 700;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu-ul{
    padding: 10px 20px;
    display: inline-block;
}

.menu-ul li{
    list-style: none;
    width: 10%;
    min-width: 100px;
    display: inline-block;
}

.menu-ul li a{
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} */

/* Fondo */

/* Menu */

.main-menu{
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.main-menu::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 10px;
}

.main-menu::-webkit-scrollbar-thumb{
    /* background-color: rgb(70, 70, 70); */
    background-color: orangered;
    /* border-radius: 5px; */
}

.bienvenida-menu{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: orangered;
}

.bienvenida-img{
    /* margin-right: 5%;
    margin-left: 5%; */
    height: 60vh;
    background-image: url(../img/Fondo5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.menu-titulo{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -50px;
    width: 100%;
    height: 100%;
    color: orangered;
    font-size: 85px;
    font-family: Arial;
    font-weight: 700;
    text-shadow: 5px 5px 0px white;
    text-align: center;
}

.menu-contenido{
    height: 85vh;
    padding: 2% 5%;
}

.menu-descripcion{
    margin: 2% 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    display: grid;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    transform: translateY(-115px);
}

.menu-recomendados{
    background-color: rgb(240, 240, 240);
    height: 50vh;
    margin: 5% 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1%;
    transform: translateY(-115px);
}

.menu-recomendados__articulo{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    height: 75%;
    margin: 8%;
    transition: 0.2s;
    background-color: white;
}

.menu-recomendados__articulo:hover{
    transform: translateY(-8px);
    transform: translateX(8px);
    box-shadow: -8px 8px 5px gray;
}

.m-r__articulo-img{
    height: 85%;
}

.m-r__articulo-img img{
    width: 100%;
    height: 100%;
    /* height: 90%; */
}

.m-r__articulo-datos{
    padding: 5px;
}

.m-r__articulo-datos label{
    display: block;
    font-family: Arial;
    font-size: 13px;
}

/* Consulta proveedores */

.main-proveedores {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: calc(100vh - 80px);
}

.form-proveedores {
    background-color: rgb(240, 240, 240);
    margin: 20px 5%;
    width: 80%;
    border: 1px solid gray;
    padding: 10px 5%;
    /* overflow-y: scroll; */
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: calc(100vh - 160px);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.header-proveedores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
}

.header-proveedores__titulo {
    /* margin: 10px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-proveedores__titulo h1 {
    font-family: Arial;
    color: rgb(70, 70, 70);
}

.header-proveedores__buscador {
    margin: 10px 20px;
    text-align: center;
}

.header-proveedores__buscador input {
    margin: 1px 0 0;
    width: 80%;
    height: 39px;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.4s;
    border: 2px solid black;
}

.header-proveedores__buscador input:hover {
    box-shadow: 0 0 3px black;
    width: 82%;
}

.contenido-scroll {
    background-color: white;
    /* height: 100%; */
    margin: 20px 0;
    overflow-y: scroll;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top: 2px solid rgba(200, 200, 200, 0.5);
    border-bottom: 2px solid rgba(200, 200, 200, 0.5);
    padding: 0 5px;
    /* box-shadow: 0 0 10px rgb(0, 0, 0, 0.5); */
}

.contenido-scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.contenido-scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.contenido-scroll::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.contenido-proveedores {
    margin: 10px 0;
    /* position: absolute; */
    /* top: 60px; */
    /* overflow-y: scroll; */
}

.contenido-proveedores__lista {
    margin: 2px;
    border: 2px solid black;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    height: 60px;
    transition: 0.3s;
}

.contenido-proveedores__lista:hover{
    margin: 10px 5px;
    /* width: ; */
}

.c-p__lista-foto img {
    margin: auto;
    width: 50%;
}

.c-p__lista-datos label {
    margin: 1px;
    display: block;
    font-family: Arial;
    font-size: 14px;
}

.c-p__lista-op {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.c-p__lista-op a img {
    position: relative;
    width: 70%;
    bottom: -32px;
    left: 10px;
}

.c-p__lista-op button{
    border: none;
    background: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1px;
}

.c-p__lista-op button img {
    width: 75%;
}

.fondo-proveedores {
    background-color: orangered;
    background-image: url(../img/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Pedidos */

.main-pedidos{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
}

.form-pedidos{
    margin: 20px 5% 20px 0;
    width: 95%;
    /* border: 3px solid black; */
    /* padding: 10px 5%; */
    /* overflow-y: scroll; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 160px);
}

.header-pedidos{
    padding: 0 20%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-pedidos form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.header-pedidos__titulo{
    font-size: 18px;
    margin: 10px 0;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.header-pedidos__titulo h1{
    font-family: Arial;
    color: rgb(200, 200, 200);
}


.header-pedidos__buscador {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-pedidos__buscador input {
    margin: 1px 0 0;
    width: 100%;
    /* margin: 0 2%; */
    height: 39px;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.4s;
    border: 2px solid black;
}

.header-pedidos__buscador select {
    margin: 1px 0 0;
    width: 100%;
    /* margin: 0 2%; */
    height: 39px;
    padding: 0 10px;
    font-size: 18px;
    transition: 0.4s;
    border: 2px solid black;
}

/* .header-pedidos__buscador input:hover {
    box-shadow: 0 0 3px black;
    width: 92%;
} */

.header-pedidos__btn{
    /* display: relative; */
    /* align-items: center;
    justify-content: center; */
    float: right;
    /* right: 0; */
    margin: 10px 0;
    width: 100%;
}

.header-pedidos__btn input{
    width: 40%;
    padding: 10px 0;
    float: right;
    margin: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.header-pedidos__btn input:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.contenido-pedidos{
    display: grid;
    grid-template-rows: 3fr 1fr 12fr 4fr;
    border: 1px solid black;
    height: calc(100vh - 166px);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    background: linear-gradient(rgb(240, 240, 240), rgb(245, 245, 245));
    border-radius: 2px;
}

.contenido-pedidos__header{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.c-p__header-foto img{
    width: 60px;
}

.c-p__header-datos label{
    display: block;
}

.c-p__articulos-header{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
    border: 1px solid black;
    margin-right: -1px;
    margin-left: -1px;
    padding: 3px;
    transform: translateY(1px);
}

.c-p__articulos-header label{
    font-family: Arial;
    font-weight: 600;
    color: rgb(150, 150, 150);
}

/* .c-p__articulos-header div{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.contenido-pedidos__scroll{
    overflow-y: scroll;
    /* margin-top: -1px; */

}

.contenido-pedidos__scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.contenido-pedidos__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.contenido-pedidos__scroll::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.c-p__articulos-datos{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 1fr;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* margin: 0 3px; */
    margin-bottom: 4px;
    padding: 3px;
    transition: 0.3s;
}

.c-p__articulos-datos:hover{
    margin-top: 8px;
    margin-bottom: 8px;
}

.c-p__articulos-datos div{
    padding: 0 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.c-p__articulos-datos div label{
    color: rgb(150, 150, 150);
    font-family: Arial;
}

.c-p__articulos-datos button{
    background: none;
    border: none;
}

.c-p__articulos-datos button img{
    width: 25px;
}

.contenido-pedidos__footer{
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-top: 1px solid black;
}

.c-p__footer-total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
}

.c-p__footer-total label{
    display: flex;
    align-items: center;
    /* justify-content: center;  */
    color: rgb(150, 150, 150);
    font-family: Arial;
    font-weight: 600;
}

.c-p__footer-generar{
    border-top: 1px solid black;
    padding: 10px 0;
}

.c-p__footer-generar button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.c-p__footer-generar button:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.c-p__footer-generar button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* .header-pedidos__btn input{
    width: 40%;
    padding: 10px 0;
    float: right;
    margin: 0 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

 */





/* .header-pedidos__btn:hover{

} */

.fondo-pedidos {
    background-color: orangered;
    background-image: url(../img/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pedidos-proveedores{
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    background-image: linear-gradient(rgb(240, 240, 240), rgb(245, 245, 245));
    height: 37vh;
    padding: 0;
}

.pedidos-tabla{
    width: calc(100% + 0.5px);
    border-collapse: collapse;
    margin: 0 1px 0 0;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    transform: translateY(-1px);
    text-align: center;
}

.pedidos-tabla thead{
    background-color: orangered;
    color: white;
}

.pedidos-tabla thead tr{
    border-bottom: 1px solid black;
    border-top: none;
}

.pedidos-tabla thead tr th{
    padding: 5px;
}

.pedidos-tabla tbody{
    background-color: linear-gradient(rgb(240, 240, 240), rgb(245, 245, 245));
    color: gray;
}

.pedidos-tabla tbody tr{
    border-bottom: 1px solid black;
}

.pedidos-tabla tbody tr td{
    padding: 5px;
}

.pedidos-tabla .columna-btn__agregar{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos-tabla .columna-btn__agregar button{
    background-color: orangered;
    border-radius: 2px;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedidos-tabla .columna-btn__agregar button img{
    width: 70%;
    height: 70%;
}

.alert{
    color: rgb(200, 0, 0);
    text-align: center;
    height: 50%;
    /* padding: 10px; */
    /* width: calc(100% - 6px);
    background-color: rgba(255, 0, 0, 0.5);
    border: 3px solid red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
    margin: 10px 0;
    text-align: center; */
}

.alert2{
    color: rgb(240, 0, 0);
    /* text-align: center; */
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
}

/* Login */

.main-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.contenido-login{
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    height: 100vh;
    padding: 0 5%;
}

.header-login{
    display: flex;
    padding: 2%;
    /* justify-content: center; */
    align-items: center;
    height: 10vh;
}

.header-login h1{
    color: orangered;
    font-family: Arial;
    font-weight: 600;
}

.form-login{
    /* border: 3px solid black; */
    margin: 0 5%;
    height: 70vh;
    display: grid;
    grid-template-rows: 2fr 8fr 2fr;
}

.titulo-login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-weight: 600;
    /* height: 50px; */
}

.datos-login{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 5px 10%;
    /* height: calc(100% - 24px); */
}

.datos-login div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    /* height: 50%; */
    /* position: relative; */
    /* overflow: hidden; */
}

.datos-login div input{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    padding: 5px 15px;
    margin: 2px;
    transition: 0.3s;
    font-size: 20px;
    /* background: none; */
    /* color: black; */
    margin: 2px;
    /* border: none; */
    /* outline: 0; */
}

.datos-login div select{
    width: 100%;
    height: 130%;
    border: 3px solid black;
    padding: 5px 15px;
    margin: 2px;
    transition: 0.3s;
    font-size: 20px;
    /* background: none; */
    /* color: black; */
    margin: 2px;
    /* border: none; */
    /* outline: 0; */
}
/*  */

.datos-login div input:hover{
    margin: 0;
    box-shadow: 0 0 10px black;
}

.btn-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 50%; */
}

.btn-login div{
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* width: 40%; */
}

.btn-login div button{
    width: 95%;
    height: 100%;
    color: white;
    font-family: Arial;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.btn-login div button:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.btn-login div button a{
    text-decoration: none;
    color: white;
}

.footer-login{
    padding: 2% 0;
    display: flex;
    align-items: center;
    color: orangered;
    font-family: Arial;
    font-weight: 600;
    /* height: 10vh; */
}

.fondo-login{
    background-color: orangered;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo1.jpeg');
    background-repeat: no-repeat;
    background-size: 70% 75%;
    text-align: center;
    background-position: center;
    transition: 0.5s;
}

.fondo-login:hover{
    background-size: 75% 80%;
}

/* Registro Usuario */
.scroll-registro-usuario{
    overflow-y: auto;
    display: grid;
    height: calc(100% + 6px);
}

.scroll-registro-usuario::-webkit-scrollbar{
    background-color: rgb(230, 230, 230);
    width: 6px;
}

.scroll-registro-usuario::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.scroll-registro-usuario::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.btn-login div p{
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.btn-login div p a{
    text-decoration: none;
    color: #0077ff;
}

.btn-login div p a:hover{
    text-decoration: underline;
}

/* Registro Comics */

.main-comics{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: calc(100vh - 80px);
    /* background-color: rgba(255, 194, 163, 0.789); */
    /* background: linear-gradient(rgb(163, 249, 255), rgb(245, 245, 245)); */
}

.form-comics{
    margin: 20px 5%;
    border: 1px solid gray;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    /* height: calc(100vh - 120px); */
    height: 80vh;
    padding: 10px 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    transition: 0.2s;
    background-color: white;
    background-color: rgb(240, 240, 240);
}

/* .form-comics:hover{
    margin: 16px calc(5% - 4px);
    height: calc(80vh + 8px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.header-comics{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-comics h1{
    font-family: Arial;
    /* color: rgb(150, 150, 150); */
    color: black;
}

.datos-comics__scroll{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* display: flex;
    align-items: center; */
}

.datos-comics__scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.datos-comics__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.datos-comics__scroll::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.datos-comics{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* height: 70vh; */
    padding: 10px 10%;
}

.datos-comics > div{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    padding: 7px 0;
    height: 55px;
}

.input{
    width: 100%;
    height: 50%;
    position: relative;
    padding: 7px 0;
}

.input > input{
    width: 100%;
    height: 90%;
    /* border: 3px solid black; */
    /* padding: 4px 15px; */
    /* font-family: Arial; */
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    background: none;
    color: white;
}

.in-file{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: white;
    /* background-color: rgb(255, 202, 183); */
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 3px 0px rgb(255, 140, 98);
}

.in-file:hover{
    /* background-color: rgb(255, 140, 98); */
    background-color: rgb(255, 202, 183);
    box-shadow: 0px 3px 0px orangered;
}

.in-file:active{
    background-color: rgb(255, 202, 183);
    box-shadow: 0px 3px 0px orangered;
}

/* .in-file:hover ~p{
    background-color: rgb(255, 140, 98);
    color: white;
} */

.texto{
    text-align: center;
    color: orangered;
    font-weight: bold;
    font-family: Arial;
}

.input-file_input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

/* .input-file_input:hover{
    background-color: rgba(255, 68, 0, 0.19);
}

.input-file_input:focus ~.texto{
    color: white;
}

.input-file_input:hover ~.texto{
    color: white;
} */

.input input::placeholder{
    opacity: 0;
}

.input label{
    position: absolute;
    left: 0;
    bottom: 15px;
    color: silver;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.2s ease;
}

.input input:focus ~label
/* ,.input input:valid ~label */
,.input input:not(:placeholder-shown) ~label
{
    transform: translateY(-20px);
    font-size: 16px;
    color: orangered;
    background: none;
}

.input input:focus
/* ,.input input:valid{ */
,.input input:not(:placeholder-shown)
{
    border-color: orangered;
    color: black;
}

.btn-comics{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding: 2% 10%;
}

.btn-comics button{
    width: 50%;
    height: 100%;
    border: 0;
    color: white;
    border-radius: 5px;
    font-family: Arial;
    font-weight: 600;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        /* #00000044 40%, #00000044 60%, */
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.btn-comics button:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.scroll-comics{
    margin: 20px 3% 20px 0;
    border: 1px solid gray;
    box-shadow: 0 0 5px black;
    /* border-radius: 2px; */
    height: calc(100vh - 124px);
    /* margin: 0 5%; */
    /* border-right: 3px solid black; */
    /* border-left: 3px solid black; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    overflow-y: scroll;
    transition: 0.2s;
    background-color: rgb(240, 240, 240);
}

/* .scroll-comics:hover{
    margin: 17px 2% 17px -1%;
    height: calc(100vh - 120px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.scroll-comics::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.scroll-comics::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.scroll-comics::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.contenido-comics{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenido-comics__seccion{
    width: 100%;
    margin-bottom: -1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 85%;
}

.c-c__seccion-carta{
    background-color: white;
    margin: 0 5%;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    height: 90%;
}

.c-c__seccion-carta__img{
    height: 85%;
}

.c-c__seccion-carta img{
    width: 100%;
    height: 100%;
}

.c-c__seccion-carta__contenido{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 0 2%;
}

.c-c__seccion-carta__contenido .btn-añadir{
    background-color: orangered;
    border: none;
    padding: 2px 4px;
    border-radius: 3px;
    color: white;
}

.c-c__s-c__contenido-datos{
    color: silver;
    font-family: Arial;
    font-size: 15px;
    margin-top: 2%;
}

.c-c__s-c__contenido-op{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-c__s-c__contenido-op button{
    border: none;
    background: none;
}

.c-c__s-c__contenido-op button img{
    width: 90%;
}

/* Registro Articulos */

.main-articulos{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: calc(100vh - 80px);
}

.form-articulos{
    margin: 20px 5%;
    border: 1px solid gray;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    height: 80vh;
    padding: 10px 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    transition: 0.2s;
    background-color: white;
    background-color: rgb(240, 240, 240);
}

/* .form-articulos:hover{
    margin: 16px calc(5% - 4px);
    height: calc(80vh + 8px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.header-articulos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-articulos h1{
    font-family: Arial;
    color: black;
}

.datos-articulos__scroll{
    height: 65vh;
    width: 100%;
    overflow-y: auto;
}

.datos-articulos__scroll::-webkit-scrollbar{
    background-color: rgb(200, 200, 200, 0.5);
    width: 6px;
}

.datos-articulos__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.datos-articulos__scroll::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.datos-articulos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 10%;
}

.datos-articulos > div{
    width: 100%;
    padding: 7px 0;
    height: 50px;
}

.contenido-articulos__scroll{
    margin: 20px 3% 20px 0;
    border: 1px solid gray;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    height: calc(100vh - 124px);
    /* margin: 0 5%; */
    /* border-right: 3px solid black; */
    /* border-left: 3px solid black; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    overflow-y: scroll;
    transition: 0.2s;
    background-color: rgb(240, 240, 240);
}

/* .contenido-articulos__scroll:hover{
    margin: 17px 2% 17px -1%;
    height: calc(100vh - 120px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.contenido-articulos__scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.contenido-articulos__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.contenido-articulos__scroll::-webkit-scrollbar-thumb:hover{
    /* border: 0 0 5px orangered; */
    box-shadow: 0 0 5px orangered;
}

.contenido-articulos{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenido-articulos__seccion{
    width: 100%;
    margin-bottom: -1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 85%; */
}

.c-a__seccion-carta{
    margin: 0 5%;
    border: 2px solid black;
    height: 90%;
    background-color: white;
}

.c-a__seccion-carta__img{
    height: 80%;
}

.c-a__seccion-carta img{
    width: 100%;
    height: 100%;
}

.c-a__seccion-carta__contenido{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 0 2%;
}

.c-a__s-c__contenido-datos{
    color: silver;
    font-family: Arial;
    font-size: 15px;
    margin-top: 2%;
}

.c-a__s-c__contenido-datos label{
    display: block;
}

.c-a__s-c__contenido-op{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-a__s-c__contenido-op button{
    border: none;
    background: none;
}

.c-a__s-c__contenido-op button img{
    width: 90%;
}

/* Registro Proveedores */

.main-reg_pro{
    width: 96%;
    height: calc(100vh - 100px);
    /* background-color: orangered; */
    /* display: grid; */
    /* place-content: center; */
    padding: 10px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-reg_pro > div{
    background-color: rgb(240, 240, 240);
    margin: 10px 5%;
    width: 98%;
    height: 80%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    /* padding: 10px 5%; */
    border: 2px solid black;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    height: 70vh;
    transition: 0.3s;
}

/* .main-reg_pro > div:hover{
    margin: 6px 4%;
    width: 100%;
    height: 82%;
} */

.form-reg_pro{
    padding: 1% 5%;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.header-reg_pro{
    /* margin: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-reg_pro h1{
    font-family: sans-serif;
}

.datos-reg_pro__scroll{
    height: 50vh;
    width: 100%;
    overflow-y: auto;
}

.datos-reg_pro__scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.datos-reg_pro__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.datos-reg_pro__scroll::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.datos-reg_pro{
    padding: 0 5%;
    height: 100%;
    /* border: 1px solid silver; */
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4%;
}

.datos-reg_pro__seccion{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* margin: 0 4%; */
    /* place-content: center; */
    /* align-content: center; */
}

.datos-reg_pro__seccion div{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-top: 2%;
}

.input-reg_pro{
    position: relative;
    overflow: hidden;
    margin: auto 0;
    /* height: 50px; */
}

.input-reg_pro input{
    width: calc(100% - 16px);
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    /* padding: 8px 12px; */
    outline: 0;
    padding: 12px 6px 12px 6px;
}

.input-reg_pro input:valid{
    background: white;
    /* border-color: orangered; */
}

.input-reg_pro input:focus{
    border-color: orangered;
    padding: 4px 6px 20px 6px;
}

.input-reg_pro input:not(:placeholder-shown){
    border-color: orangered;
}

.input-reg_pro input:focus::placeholder{
    opacity: 0;
}

.input-reg_pro input:focus + label{
    background: orangered;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    top: 100%;
    margin-top: -16px;
    opacity: 1;
}

.input-reg_pro label{
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.btn-reg_pro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-reg_pro button{
    width: 35%;
    height: 65%;
    border: 0;
    color: white;
    border-radius: 5px;
    font-family: Arial;
    font-weight: 600;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        /* #00000044 40%, #00000044 60%, */
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.btn-reg_pro button:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}

.fondo-reg_pro{
    /* width: 50%; */
    background-image: url('../img/articulos.jpg');
    background-color: orangered;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Tienda */

.main-tienda{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: calc(100vh - 80px);
}

/* .tienda-formularios{
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
} */

.form-tienda{
    margin: 20px 5%;
    /* border: 1px solid gray; */
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 37vh;
    padding: 10px 20px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    transition: 0.2s;
    background-color: white;
    background-color: rgb(240, 240, 240);
}

/* .form-tienda:hover{
    margin: 16px calc(5% - 4px);
    height: calc(80vh + 8px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */

.header-tienda{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-tienda h1{
    font-family: Arial;
    color: black;
}

.datos-tienda__scroll{
    height: 20vh;
    /* width: 100%;
    overflow-y: auto; */
}

.datos-tienda__scroll::-webkit-scrollbar{
    background-color: rgb(200, 200, 200, 0.5);
    width: 6px;
}

.datos-tienda__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.datos-tienda__scroll::-webkit-scrollbar-thumb:hover{
    box-shadow: 0 0 5px orangered;
}

.datos-tienda{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 10%;
    height: 20vh;
}

.datos-tienda > div{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    padding: 7px 0;
}

.contenido-tienda__scroll{
    margin: 20px 3% 20px 0;
    /* border: 1px solid gray; */
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    height: calc(100vh - 124px);
    /* margin: 0 5%; */
    /* border-right: 3px solid black; */
    /* border-left: 3px solid black; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    overflow-y: scroll;
    transition: 0.2s;
    background-color: rgb(240, 240, 240);
}

/* .contenido-tienda__scroll:hover{
    margin: 17px 2% 17px -1%;
    height: calc(100vh - 120px);
} */

.contenido-tienda__scroll::-webkit-scrollbar{
    background-color: rgba(200, 200, 200, 0.5);
    width: 6px;
}

.contenido-tienda__scroll::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 5px;
}

.contenido-tienda__scroll::-webkit-scrollbar-thumb:hover{
    /* border: 0 0 5px orangered; */
    box-shadow: 0 0 5px orangered;
}

.contenido-tienda{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50%;
}

.c-t__seccion-carta{
    background-color: white;
    margin: 0 5%;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    height: 90%;
    position: relative;
}

.c-t__seccion-carta__img{
    width: 100%;
    /* height: 80%; */
}

.c-t__seccion-carta img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.c-t__seccion-carta__contenido{
    width: calc(100% - 4%);
    border-top: 2px solid rgb(200, 200, 200);
    position: absolute;
    top: 80%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 0 2%;
}

.c-t__seccion-carta__contenido .btn-añadir{
    background-color: orangered;
    border: none;
    padding: 2px 4px;
    border-radius: 3px;
    color: white;
}

.c-t__s-c__contenido-datos{
    color: silver;
    font-family: Arial;
    font-size: 15px;
    margin-top: 2%;
}

.c-t__s-c__contenido-op{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-t__s-c__contenido-op a img{
    width: 90%;
}

.input-reg_pro select{
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    /* padding: 8px 12px; */
    outline: 0;
    padding: 12px 6px 12px 6px;
}

.input-reg_pro select:valid{
    background: white;
}

.input-reg_pro select:focus{
    border-color: orangered;
    padding: 4px 6px 20px 6px;
}

.input-reg_pro select:focus::placeholder{
    opacity: 0;
}

.input-reg_pro select:focus + label{
    background: orangered;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    top: 100%;
    margin-top: -16px;
    opacity: 1;
}

.op-carrito{
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 5%;
    height: 10%;
}

.op-carrito a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.op-carrito a img{
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    width: 55px;
}

.op-carrito a img:hover{
    /* transform: translateY(-5px);
    transform: translateX(-5px);
    margin: -1px; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 60px;
}

/* Editar Comic */

.main-editar{
    background-color: orangered;
    padding: 0 15%;
    height: calc(100vh - 80px);
}

.main-editar form{
    background-color: rgb(240, 240, 240);
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-shadow: 0 0 15px black;
    height: calc(100vh - 120px);
    margin: 0 15%;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    padding: 20px 10%;
}

.main-editar .editar-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-editar .editar-titulo h1{
    color: orangered;
    text-shadow: 3px 3px 0px black;
    font-family: Arial;
    font-size: 40px;
}

.main-editar .editar-inputs{
    padding: 20px 5%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-editar .editar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-editar .editar-btn button{
    width: 40%;
    height: 60%;
    padding: 3% 0;
    float: right;
    margin: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: orangered;
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    padding-bottom: 25px;
}

.main-editar .editar-btn button:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
    box-shadow: 0 0 5px orangered;
}